.invisible {
  display: none;
}

i.fas {
  line-height: inherit;
}

.page-item__extra {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 10px;
}

.page-link {
  cursor: pointer;
}

#done-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

li.item-done {
  width: 120px;
  cursor: pointer;
  margin-bottom: 5px;
  padding-top: 3px;
  border-bottom: 1px solid #333;
}

li.item-done:hover {
  background-color: rgba(9,30,66,.08);
}

.item-done__points {
  font-weight: bold;
}

.button-container {
  text-align: right;
}

button.mod-secondary, input[type="button"].mod-secondary, input[type="submit"].mod-secondary {
	background-color: #448FAC;
	box-shadow: none;
	border: none;
	color: #FFF;
}

#sprint-days-container, #done-itens-input-container, #done-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}