.invisible {
  display: none;
}

i.fas {
  line-height: inherit;
}

.page-item__extra {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 10px;
}

li.item-done {
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid #333;
}

.item-done__points {
  font-weight: bold;
}