.invisible {
  display: none;
}

i.fas {
  line-height: inherit;
}

.page-item__extra {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 10px;
}

.page-link {
  cursor: pointer;
}

#done-list {
  margin-top: 10px;
}

li.item-done {
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 5px;
  padding-top: 3px;
  border-bottom: 1px solid #333;
}

li.item-done:hover {
  background-color: rgba(9,30,66,.08);
}

.item-done__points {
  font-weight: bold;
}

.button-container {
  text-align: right;
}

#sprint-days-container, #done-itens-input-container, #done-list-container {
  text-align: center;
}